{{- $applePodcasts := .Site.Params.Podcasts.applePodcastsId }}
{{- $googlePodcasts := .Site.Params.Podcasts.googlePodcastsId }}
{{- $spotifyPodcasts := .Site.Params.Podcasts.spotifyPodcastsId }}
<div class="podcast-badge">
    {{- with $applePodcasts }}
        <a href="https://podcasts.apple.com/podcast/{{ . }}" target="_blank">
            <img src="/images/podcast/apple-podcasts.svg" alt="Listen on Apple Podcasts">
        </a>
    {{- end }}
    {{- with $spotifyPodcasts }}
        <a href="https://open.spotify.com/show/{{ . }}" target="_blank">
            <img src="/images/podcast/spotify-podcast.svg" alt="Listen on Spotify">
        </a>
    {{- end }}
    {{- with $googlePodcasts }}    
        <a href="https://podcasts.google.com/feed/{{ . }}" target="_blank">
            <img src="/images/podcast/google-podcasts.svg" alt="Listen on Google Podcasts">
        </a>
    {{- end }}
</div>